# quagent.config
#
### QUAGENTS ###
# syntax: quagent { (TYPE [Botname])? ([variable] [value])* }
#
# Here the ? means this line may appear once or zero times, the * means 
# that there can be zero or more lines of variable settings. 
# If TYPE is not specified, you get mitsu. Likewise there are 
# defaults for all the following bot-specific [variable]s.
#
# [variable] is one of 
#	LIFETIME, 
#	INITIALWISDOM, 
#	INITIALENERGY, 
#	INITIALWEALTH, 
#	INITIALHEALTH, 
#	ENERGYLOWTHRESHOLD, 
#	AGEHIGHTHRESHOLD, 
# for which [value] is a string to be interpreted as a number.
#
# An important difference is the following variable, whose [value] 
# is really three three strings giving the (x,y,z) spawning 
# location of the quagent.
#
# INITIALLOCATION [x] [y] [z]
#
# By default, if no initial location is given, the bot is spawned 60 
# ticks dead ahead of the first-person client.
#
# With no configuration file a mitsu quagent is spawned in a default room 
# (in fact the first room in the game) at a default spot with default values. 
#
# Available Quagents:
# 	soldier
# 	berserk
# 	gunner
# 	infantry
# 	parasite
#
# Examples:
# 	quagent {type gunner initiallocation 128 -236 24.03}
# 	quagent {type parasite lifetime 5000 initialenergy 1000}
# 	quagent {type soldier lifetime 6000 initialenergy 2000}

# our quagents
quagent {type infantry lifetime 200000000 initialenergy 20000 initialwisdom 100000000  initiallocation 64 290 128}
quagent {type infantry lifetime 200000000 initialenergy 20000 initialwisdom 100000000 initiallocation 64 290 128}
quagent {type infantry lifetime 200000000 initialenergy 20000 initialwisdom 100000000 initiallocation 64 290 128}
quagent {type infantry lifetime 200000000 initialenergy 20000 initialwisdom 100000000 initiallocation 64 290 128}
quagent {type infantry lifetime 200000000 initialenergy 20000  initialwisdom 10000000 initiallocation 64 290 128}
quagent {type infantry lifetime 200000000 initialenergy 20000 initialwisdom 100000000  initiallocation 64 290 128}



### OBJECTS ###
# objects that can be placed into the quagent world
# syntax: [object] [x] [y] [z]
# where [object] is one of the following
#	tofu, 
#	data, 
#	battery, 
#	gold, 
#	kryptonite
# for which [x] [y] [z] are strings to be interpreted as numbers.
#
#TARGET FOR PATHFINDING - DO NOT DELETE!!!!
# data 288 288 128
#tofu 288 288 128 
#tofu 384 64 128
#tofu 256 128 128
#tofu 192 448 128
#tofu 130 200 128
#tofu 400 50 128
data 288 288 128







